@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
::selection{
  color: rgb(94, 0, 177);
  background-color: rgba(183, 101, 255, 0.516);
}
.dropdown:hover .dropdown-menu{
  display: block;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */